html,
body {
  margin: 0;
  padding: 0 10px;
  font-family: sans-serif;
}
#fps {
  position: fixed;
  top: 0px;
  right: 0px;
  padding: 32px;
  font-size: 32px;
  text-align: right;
}
* {
  box-sizing: border-box;
}
.server-uptime {
  display: block;
  overflow: hidden;
  margin: 0 auto;
  width: 50%;
  padding: 5px 10px;
  border: 1px solid #e2dfdf;
  border-radius: 5px;
}
.server-uptime + .server-uptime {
  margin: 15px auto 0 auto;
}
.days {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.uptime-day {
  display: flex;
}
span.uptime-day-status {
  width: 12px;
  height: 12px;
  margin: 1px;
}
.hover {
  display: none;
}
.uptime-day-status:hover + .hover {
  display: flex;
  position: absolute;
  margin-top: -35px;
  margin-left: -30px;
  border-radius: 4px;
  color: #eee;
  background-color: #333;
  padding: 10px;
  font-size: 11px;
}
